@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Compita';
  src: url(./asset/font/Fontspring-DEMO-compita-regular.otf);
}
body {
  margin: 0;
  font-family: 'Compita';
}
